.pane_background
{
    -fx-background-color: -color-dark;
}

.pane_setup
{
    -fx-background-color: -color-neutral-subtle;
    -fx-border-color: -color-border-default;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
}