.panel_all-todo
{
    -fx-background-color: -color-neutral-subtle;
    -fx-border-color: -color-border-default;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.panel_backlog-todo
{
    -fx-background-color: -color-neutral-subtle;
    -fx-border-color: -color-border-default;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.panel_daily-todo
{
    -fx-background-color: -color-neutral-subtle;
    -fx-border-color: -color-border-default;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-padding: 10px;
    -fx-border-insets: 15px;
    -fx-background-insets: 15px;
}

.quote_label
{
    -fx-background-color: -color-neutral-subtle;
    -fx-border-color: -color-border-default;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-alignment: center;
    -fx-font-size: 50;
    -fx-padding: 15px;
    -fx-border-insets: 15px;
    -fx-background-insets: 15px;
}

.text_area
{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-background-color: -color-neutral-subtle;
    -fx-border-color: -color-border-default;
    -fx-padding: 15px;
    -fx-border-insets: 15px;
    -fx-background-insets: 15px;
}

.course_overview_panel
{
    -fx-background-color: -color-neutral-subtle;
    -fx-border-color: -color-border-default;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-border-insets: 15px;
    -fx-background-insets: 15px;
    -fx-padding: 10px;
}

.course_assignment_overview_panel {
    -fx-background-color: -color-neutral-subtle;
    -fx-border-color: -color-border-default;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-border-insets: 15px;
    -fx-background-insets: 15px;
    -fx-padding: 10px;
}

.pane_background
{
    -fx-background-color: -color-dark;
}

.pane_setup
{
    -fx-background-color: -color-neutral-subtle;
    -fx-border-color: -color-border-default;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-padding: 10px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
}

.pane_toolbar
{
    -fx-background-color: -color-neutral-subtle;
    -fx-border-color: -color-border-default;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-padding: 10px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
}

.pane_setup_course-row
{
    -fx-background-color: -color-neutral-subtle;
    -fx-border-color: -color-accent-muted;
    -fx-background-radius: 10px;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-border-insets: 10px, 20px, 10px, 20px;
    -fx-background-insets: 10px, 20px, 10px, 20px;
}

.button_setup_add-course
{
    -fx-border-insets: 3px;
    -fx-background-insets: 3px;
}

.button_setup_save-course
{
    -fx-border-insets: 3px;
    -fx-background-insets: 3px;
}

.task
{
    -fx-padding: 5px;
}

.task_text-field
{
    -fx-padding: 20px;
    -fx-max-width: infinity;
    -fx-pref-width: 500px;
}

.task_check-box
{
    -fx-padding: 10px;
}

.task_check-box > .box
{
    -fx-padding: 10px;
}

.task_check-box > .box > .mark
{
    -fx-padding: 10px;
}

.course_card_text_field {
    -fx-background-color: transparent;
}